
body {
    background-color: #FFFBE4;
}
p { 
    color: #FFFBE4;
}

h1 {
    color: #894F19;
    font-size: 20px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    margin: 10px
}

h2 {
    color: #894F19;
    font-size: 24px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

h3 {
    color: #894F19;
    font-size: 1.2vw;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    margin: 10px
}

.btn{
    font-weight: bold;
    color: #894F19;
    border: 0px;
    background-color: #FFFBE4;
}
.myCard {
    margin: auto;
    margin-top: 0.5in;
    padding: 10px;

}
.navbarimage {
    width: 20%;
    min-width: 300px;
    height: auto;
    margin: auto;
}

.imageofme {
    border: 1px solid #894F19;
    position: relative;
    top: 50%;
    transform: translatey(-50%);
}


.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.portfolioImage{
    
    margin: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    border: 1px solid #894F19;

}


.portfolioCard{
    width: 30%;
    height: auto;
    margin: 1%;
    border-radius: 5px;
    background-color: #FFFBE4;
    color: #894F19;
    text-align: center;
    float:left;
    min-height: 356px;
    position: relative;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #8FACA2;
    color: #FFFBE4;
    border-radius: 0px;
}

.portfolioBtn {
    position: absolute;
    bottom: 0;
    font-size: 1.8vw;
}

/* Media Queries */
@media screen and (max-width: 900px)
{
.portfolioCard{
    width: 45%;
    min-height: 200px;
   }
}
@media screen and (max-width: 500px)
{
.portfolioCard{
    width: 87%;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
    margin: 4px;
}
}